*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

// reset

li,ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}


header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.938);
    display: flex;

    a{
        padding: 5px;
        text-shadow: 5px 5px 5px black;
    }

    a:hover{
        color:red;
        border: 1px solid yellow;
        border-radius: 10px;
        background-color: white;
        
    }

    .select{
        height: 25px;
        border-radius: 10px;
        margin: 0 30px;
        

    }

    .header_list{
        justify-content: center;
        display: flex;
        gap: 20px;
        color: white;
    }
    
    .button{
        background-color: red;
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .search{
        padding: 10px;
        border-radius: 20px;
        margin-right: 30px;
        border: none;
        
    }

    .logo{
        width: 400px;
        object-fit: cover;
        max-height: 100px;
    }
}


main{

    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.859);
    color: white;
    padding: 40px;

    .cover{
        border-radius: 10px;
        box-shadow: 20px 20px 10px #000000;

    }
    
    .section{
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 80px;
        color: red;
        text-shadow: 10px 10px 10px black;
    }

    .flex{
        display: flex;
    }

    .container{
        max-width: 2800px;
        margin: 0 auto;
    }
    
    .card{
        width: 342px;
        height: 510px;
        border-radius: 30px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 40px;
     
    }

    .info{
        display: none;
    }

    .card:hover .cover{
        display: none;
        
    }

    .card:hover .info{
        display: inline;
    }

    .card:hover{
        background-color: black;
        padding: 40px;
        border: 2px solid white;
    }

    .star{
        color: yellow;

    }

    .none{
        display: none;
    }
}

footer{
    background-color: black;

}
