*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

// reset

li,ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}


header{

    background-color: black;
    padding: 40px;
    display: flex;

    
    .button{
        background-color: red;
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .search{
        width: 300px;
        padding: 10px;
        font-size: 25px;
    }

    .title{
        margin: 0 auto;
        color: red;
        font-size: 50px;
    }
}


main{

    min-height: 100vh;
    background-color: rgb(10, 10, 24);
    color: white;
    padding: 40px;

    .section{
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 80px;
    }

    .flex{
        display: flex;
    }

    .container{
        max-width: 2800px;
        margin: 0 auto;
    }
    
    .card{
        width: 342px;
        height: 510px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 40px;
    }

    .info{
        display: none;
    }

    .card:hover .cover{
        display: none;
        
    }

    .card:hover .info{
        display: inline;
    }

    .card:hover{
        background-color: black;
        padding: 40px;
        border: 2px solid white;
    }

    .star{
        color: yellow;

    }
}

footer{
    background-color: black;

}
